
<div class="row">
    <div class="col-md-8">
        <div class="grid simple no-padding">
            <div class="grid-title no-border">
            </div>
            <div class="grid-body no-border">
                <div class="row column-seperation">
                        <div class="col-md-3">
                            <div>
                                <select id="Company" name="Company" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                <select id="Department" name="Department" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                <select id="Employee" name="Employee" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <input type="submit" value="Search" placeholder="Search" class="btn btn-primary" id="search" />
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>